################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/IndianWebTrade/.vs/IndianWebTrade/v16
/IndianWebTrade/IndianWebTrade/obj
