@model IEnumerable<INFASTRUCTURE.Model.CartViewModel>

@foreach (var item in Model)
{
    <li>
        <div class="media-left">
            <div class="cart-img"> <a href="#"> <img class="media-object img-responsive" src="/ItemImages/@item.ImageUrl" alt="..."> </a> </div>
        </div>
        <div class="media-body">
            <h6 class="media-heading">@item.ItemName</h6>
            <span class="price">@item.PricePerItem USD</span> <span class="qty">QTY: @item.Quantity</span>
        </div>
    </li>

}
<li class="margin-0">
    <div class="row">
        <div class="col-xs-6"> <a href="GetUserCart" class="btn">VIEW CART</a></div>
        <div class="col-xs-6 "> <a href="checkout.html" class="btn">CHECK OUT</a></div>
    </div>
</li>